<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="18" android:versionName="1.17" android:installLocation="auto" package="com.tizmoplay.androgens">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="27"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:glEsVersion="20000" android:required="true"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.tizmoplay.androgens.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.tizmoplay.androgens.permission.C2D_MESSAGE"/>
	
    <application 
	android:theme="@style/AppTheme" 
	android:label="@string/app_name" 
	android:icon="@drawable/icon" 
	android:name="com.tizmoplay.androgens.App" 
	android:allowBackup="true" 
	android:supportsRtl="true">
	
        <meta-data 
		android:name="com.google.android.gms.version" 
		android:value="@integer/google_play_services_version"/>
		
        <activity 
		android:label="@string/app_name" 
		android:name="com.tizmoplay.androgens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
        <activity
		android:theme="@style/Theme.Translucent" 
		android:name="com.google.android.gms.ads.AdActivity" 
		android:exported="false"
		android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		
        <activity android:name="com.tizmoplay.androgens.HelpActivity"/>
		
        <activity 
		android:name="com.tizmoplay.androgens.FileChooser" 
		android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		
        <activity android:name="com.tizmoplay.androgens.SettingsActivity"/>
		
        <activity 
		android:name="com.tizmoplay.androgens.KeyboardConfigActivity" 
		android:configChanges="orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		
        <activity 
		android:theme="@style/Theme.NoTitleBar.Fullscreen"
		android:name="com.tizmoplay.androgens.InputConfigActivity" 
		android:screenOrientation="landscape" 
		android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		
        <activity 
		android:theme="@style/emuTheme" 
		android:name="com.tizmoplay.androgens.EmuActivity" 
		android:multiprocess="false" 
		android:screenOrientation="landscape" 
		android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
		android:alwaysRetainTaskState="false" 
		android:noHistory="false"/>
		
        <receiver 
		android:name="com.google.android.gms.measurement.AppMeasurementReceiver" 
		android:enabled="true" 
		android:exported="false"/>
		
        <receiver 
		android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" 
		android:permission="android.permission.INSTALL_PACKAGES" 
		android:enabled="true" 
		android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
		
        <service 
		android:name="com.google.android.gms.measurement.AppMeasurementService" 
		android:enabled="true" 
		android:exported="false"/>
		
        <service 
		android:name="com.google.android.gms.measurement.AppMeasurementJobService" 
		android:permission="android.permission.BIND_JOB_SERVICE" 
		android:enabled="true" 
		android:exported="false"/>
		
        <receiver 
		android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" 
		android:permission="com.google.android.c2dm.permission.SEND" 
		android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.tizmoplay.androgens"/>
            </intent-filter>
        </receiver>
		
        <service 
		android:name="com.google.firebase.iid.FirebaseInstanceIdService" 
		android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
		
        <provider 
		android:name="com.google.firebase.provider.FirebaseInitProvider" 
		android:exported="false" 
		android:authorities="com.tizmoplay.androgens.firebaseinitprovider" 
		android:initOrder="100"/>
    </application>
</manifest>
